<!DOCTYPE html>
{% extends 'school/admin/adminbase.html' %}
{% load static %}
{% block content %}

 <style>
       
    table, td {
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: gray;
    text-align: center;
    color: #ffffff;
    }
    th {
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
    text-align: center;
    color: #ffffff;
    }


    .results tr[visible='false'],
    .no-result{
      display:none;
    }

    .results tr[visible='true']{
      display:table-row;
    } 


</style>

  {% include 'school/admin/filter_list.html' %}
    <table class="table table-bordered border-primary results">
      <thead class="tableheader">
        <tr>
          <th>Name</th>
          <th>Class</th>
          <th>Contact</th>
          <th>Fee</th>
        </tr>
    </thead>
    <tbody class="results">
      {% for s in students %}
      <tr>
        <td class="tablestyle"><strong><a href="{% url 'individual_student_info' s.id%}" id="std_sty">{{s.get_name}}</a></strong></td>
        <td class="tablestyle"><strong>{{s.cl}}</strong></td>
        <td class="tablestyle"><strong>{{s.mobile}}</strong></td>
        <td class="tablestyle"><strong>{{s.fee}}</strong></td>      
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock%}