<!DOCTYPE html>
{% extends 'school/admin/adminbase.html' %}
{% load static %}
{% block content %}

 <style>
       
    table, td {
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: gray;
    text-align: center;
    color: #ffffff;
    }
    th {
    border: 1px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
    text-align: center;
    color: #ffffff;
    }


    .results tr[visible='false'],
    .no-result{
      display:none;
    }

    .results tr[visible='true']{
      display:table-row;
    } 


</style>

  {% include 'school/admin/filter_list.html' %}
    <table class="table table-bordered border-primary results">
      <thead class="tableheader">
        <tr>
          <th>Name</th>
          <th>Class</th>
          <th>Contact</th>
          <th>Fee</th>
          <th>Actions</th>
        </tr>
    </thead>
    <tbody class="results">
      {% for s in students %}
      <tr>
        <td class="tablestyle"><strong><a href="{% url 'individual_student_info' s.id%}" id="std_sty">{{s.get_name}}</a></strong></td>
        <td class="tablestyle"><strong>{{s.cl}}</strong></td>
        <td class="tablestyle"><strong>{{s.mobile}}</strong></td>
        <td class="tablestyle"><strong>{{s.fee}}</strong></td>
        <td><a class="btn btn-primary btn-xs" href="{% url 'update-student' s.id  %}"><span class="glyphicon glyphicon-edit"></span></a>
        <a class="btn btn-danger btn-xs" id="deleting" href="{% url 'delete-student-from-school' s.id  %}" onclick="dele()"><span class="glyphicon glyphicon-trash"></span></a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

<script>
  function dele(){
  document.getElementById('deleting').onclick = confirm('Are you sure you want to delete this student');
  }
</script> 
{% endblock%}