<!DOCTYPE html>
{% extends 'school/admin/adminbase.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}


  <style media="screen">
    a:link {
      text-decoration: none;
    }

    .note {
      text-align: center;
      height: 80px;
       background: black;
      color: #fff;
      font-weight: bold;
      line-height: 80px;
    }

    .form-content {
      padding: 5%;
      border: 1px solid #ced4da;
      margin-bottom: 2%;
    }

    .form-control {
      border-radius: 1.5rem;
    }
    
    .btnSubmit {
      border: none;
      border-radius: 1.5rem;
      padding: 1%;
      width: 20%;
      cursor: pointer;
      background: black;
      color: #fff;
    }
  </style>

  <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->



<!--
written By : sumit kumar
-->

<!------ signup page for student by admin(sumit)  ---------->
<form method="post">
  {% csrf_token %}
  <div class="container register-form">
    <div class="form">
      <div class="note">
        <p>New Admission of Student In School</p>
      </div>

      <div class="form-content">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              {% render_field form2.roll class="form-control" placeholder="Admission Number" %}
            </div>
            <div class="form-group">
              {% render_field form1.username class="form-control" placeholder="Username" %}
            </div>
            <div class="form-group">
              {% render_field form2.date_of_admission class="form-control" placeholder="Date of Admission(year-month-day)" %}
            </div>
            <div class="form-group">
              {% render_field form1.first_name class="form-control" placeholder="First Name" %}
            </div>
            <div class="form-group">
              {% render_field form1.last_name class="form-control" placeholder="Last Name" %}
            </div>
            <div class="form-group">
              {% render_field form2.date_of_birth class="form-control" placeholder="Date of Birth(year-month-day)" %}
            </div>
            <div class="form-group">
              {% render_field form2.gender class="form-control" placeholder="Gender" %}
            </div>
            
            <div class="form-group">
              {% render_field form2.mother class="form-control" placeholder="Mother" %}
            </div>
            <div class="form-group">
              {% render_field form2.father class="form-control" placeholder="Father" %}
            </div>
            <div class="form-group">
              {% render_field form2.mobile class="form-control" placeholder="Mobile" %}
            </div>
          </div>
          
          <div class="col-md-6">
            <div class="form-group">
              {% render_field form2.residence class="form-control" placeholder="Residence" %}
            </div>
            <div class="form-group">
              {% render_field form2.cl class="form-control" placeholder="Class" %}
            </div>
            <div class="form-group">
              {% render_field form2.foodfee class="form-control" placeholder="Foodfee" %}
            </div>
            <div class="form-group">
              {% render_field form2.carfee class="form-control" placeholder="CarFee" %}
            </div>
            <div class="form-group">
              {% render_field form2.fee class="form-control" placeholder="Fee" %}
            </div>
          
            <div class="form-group">
              {% render_field form1.password class="form-control" type="password" placeholder="Password" %}
            </div>

            <!-- |||||||||||||||||| ADDED ON 5TH OCTOBER |||||||||||||||||||||||||||| -->
            <div class="form-group">
              {% render_field form2.payment_category class="form-control" placeholder="Payment Category" %}
            </div>
            <div class="form-group">
              {% render_field form2.payment_method class="form-control" placeholder="Payment Method" %}
            </div>
            <div class="form-group">
              {% render_field form2.form_of_transportation class="form-control" placeholder="Bus or not" %}
            </div>
            <!-- |||||||||||||||||| ADDED ON 5TH OCTOBER |||||||||||||||||||||||||||| -->

            <div class="form-group">
              {% render_field form2.passport class="form-control" placeholder="Passport" %}
            </div>
            
          </div>
        </div>
        <button type="submit" class="btnSubmit">Submit</button>

        {% for message in messages %}
<div class="container-fluid p-0">
  <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="True">&times;</span>
    </button>
    {{ message }}
  </div>
</div>
{% endfor %}
      </div>
    </div>
  </div>

</form>



{% endblock content %}
