<!DOCTYPE html>
{% extends 'school/admin/adminbase.html' %}

{% block content %}

<style>
      body{
    background: #bba14f;
  }
  table, td, th {
  border: 2px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: black;
  text-align: center;
  color: white;
}

td {
  background-color: gray;
  text-align: center;
  font-weight: bold;
  color: #fff;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.results tr[visible='false'],
.no-result{
  display: none;
}

.results tr[visible='true']{
  display: table-row;
}

</style>
<section class="hom"> 
  <div class="text">
    {% include 'school/admin/filter_list.html' %}
    <table class="tablestyle results">
      <thead>
        <tr>
          <th class="tablestyle">Date</th>
          <th class="tablestyle">Food Money</th>
          <th class="tablestyle">Bus Money</th>
          <th class="tablestyle">School Fees</th>
        </tr>
      </thead>
      <tbody>
        {% for recod in dfmr %}
        <tr>
          <td class="tablestyle">{{recod.when_made}}</td>
          <td class="tablestyle">{{recod.sum}}</td>
          <td class="tablestyle">{{recod.sum2}}</td>
          {% if recod.sum3 == None %}
          <td class="tablestyle">0</td>
          {% else %}
          <td class="tablestyle">{{recod.sum3}}</td>
          {% endif %}
        </tr>
        {% endfor %}

        
      </tbody>
    </table>
  </div>
</section>

{% endblock%}