<!DOCTYPE html>
{% extends 'school/admin/adminbase.html' %}
{% block content %}

<style>
  table, td, th {
  border: 2px solid white;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: black;
  text-align: center;
  color: white;
}

td, h1 {
  background-color: gray;
  text-align: center;
  font-weight: bold;
  color: #fff;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.results tr[visible='false'],
.no-result{
  display: none;
}

.results tr[visible='true']{
  display: table-row;
}

</style>
<section class="hom"> 
    {% include 'school/admin/filter_list.html' %}
    <table class="tablestyle results">
      <thead class="tableheader">
        <tr>
          <th class="tablestyle">Date</th>
          <th class="tablestyle">Food Money</th>
          <th class="tablestyle">Bus Money</th>
          <th class="tablestyle">School Fees</th>
        </tr>
      </thead>
      <tbody>
        {% for recod in dfmr %}
        <tr>
          <td class="tablestyle">{{recod.when_made}}</td>
          <td class="tablestyle">{{recod.sum|floatformat}}</td>
          {% if recod.sum3 == None or recod.sum2 == None %}
          <td class="tablestyle">0</td>
          <td class="tablestyle">0</td>
          {% else %}
          <td class="tablestyle">{{recod.sum2|floatformat}}</td>
          <td class="tablestyle">{{recod.sum3|floatformat}}</td>        
          {% endif %}
          
        </tr>
        {% endfor %}
        
      </tbody>
    </table>
    <h1 id="income"></h1>
</section>


<script>
  '{% for record in dfmr %}'  
    '{% if forloop.last %}'
      var sum1 = parseInt('{{record.sum}}')
      var sum2 = parseInt('{{record.sum2}}')
      var sum3 = parseInt('{{record.sum3}}')
      var when_made = '{{record.when_made}}'
    '{% endif %}'
  '{% endfor %}'
  '{% for record in dsmr %}'  
    '{% if forloop.last %}'
      var sum4 = parseInt('{{record.sum4}}')
      var schoolfeesdate = '{{record.when_made}}'
    '{% endif %}'
  '{% endfor %}'
  if(typeof sum4 !== 'undefined'){
     if (when_made == schoolfeesdate){
      var added = sum1+sum2+sum3+sum4
     }else{
      var added = sum1+sum2+sum3
     }
  }else{
    var added = sum1+sum2+sum3
  }
  document.getElementById("income").innerHTML="Total Payment For Today: " + added;

</script>

{% endblock%}

