<!DOCTYPE html>
{% extends 'school/admin/adminbase.html' %}

{% block content %}
<style>
    body{
    background: #bba14f;
  }
  table, td, th {
  border: 3px solid white;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: black;
  text-align: center;
  color: white;
}

td {
  background-color: gray;
  text-align: center;
  font-weight: bold;
  color: #fff;
}

table {
  width: 100%;
  border-collapse: collapse;
}
.results tr[visible='false'],
.no-result{
  display: none;
}

.results tr[visible='true']{
  display: table-row;
}

</style>
<section class="hom"> 
    <div class="text">
    {% include 'school/admin/filter_list.html' %}
    <table class="tablestyle results">
      <thead class="tableheader">
        <tr>
          <th class="tablestyle">Names</th>
          <th class="tablestyle">Reset</th>
        </tr>
      </thead>
      <tbody>
        {% for s in students %}
        <tr>
          <td class="tablestyle">{{s.get_name}}</td>
          <td><a href="{% url 'resetsinglepayment' s.id %}" style="color: #131313"><span class="glyphicon glyphicon-remove"></span><b> Reset Payment </b></a></td>

        </tr>
        {% endfor %}
      </tbody> 
    </table> 
    </div>
</section>
{% endblock%}