<!DOCTYPE html>
{% extends 'school/admin/adminbase.html' %}
{% load static %}
{% block content %}
<style>
    body{
    background: #bba14f;
  }
  table, td, th {
  border: 3px solid white;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: black;
  text-align: center;
  color: white;
}

td {
  background-color: gray;
  text-align: center;
  font-weight: bold;
  color: #fff;
}

table {
  width: 100%;
  border-collapse: collapse;
}
.results tr[visible='false'],
.no-result{
  display: none;
}

.results tr[visible='true']{
  display: table-row;
}
</style>
<section class="hom"> 
    <div class="text">
    {% include 'school/admin/filter_list.html' %}
    <table class="tablestyle results">
      <thead class="tableheader">
        <tr>
          <th class="tablestyle">Names</th>
          <th class="tablestyle">Amount Owing</th>
          <th class="tablestyle">Phone Num</th>
        </tr>
      </thead>
      <tbody>
        
        {% for record in records %}
        <tr>
            {% if record.debt > 0 %}
          <td class="tablestyle">{{record.get_name}}</td>
          
          <td class="tablestyle">{{record.debt}}</td>
          <td class="tablestyle">{{record.mobile}}</td>
          {% endif %}
        {% endfor %}
        </tr>
      </tbody> 
    </table> 
    </div>
</section>
{% endblock content %}