{% load static %}
<nav class="navbar navbar-inverse sidebarNavigation navbar-fixed-top navbar-custom" data-sidebarClass="navbar-inverse" >
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle left-navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="{% url '' %}"><img src="{% static '/images/mecky.png' %}" alt="" height="55px" class="mine"></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
            <li><a href="/student-dashboard"style="color: #131313"><span class="glyphicon glyphicon-home"></span><b> Dashboard</b></a></li>
            <li><a href="{% url 'contactus' %}"style="color: #131313"><span class="glyphicon glyphicon-envelope"></span><b> ContacUs</b></a></li>
            <li><a href="{% url 'aboutus' %}"style="color: #131313"><span class="glyphicon glyphicon-user"></span><b> AboutUs</b></a></li>
        </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
          <li><a style="color: #131313"><span class="glyphicon "></span><b>Hello, {{request.user.first_name}}</b></a></li>      
          <li><a href="/logout"style="color: #131313"><span class="glyphicon glyphicon-log-in"></span><b> Logout</b></a></li>
          {% else %}
          <li><a href="/clicked_signup" style="color: #131313"><span class="glyphicon glyphicon-user"></span><b> Sign Up</b></a></li>
          <li><a href="studentlogin"style="color: #131313"><span class="glyphicon glyphicon-log-in"></span><b> Login</b></a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>