{% extends 'school/others/homebase.html' %}
{% block content %}
<!DOCTYPE html>
{% load static %}
  <style media="screen">
    body {
      background: #BBA14F;
    }
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
      background: #BBA14F;
    }

    .jumbotron h1 {
      text-align: center;
      color: white;
    }

    .alert {
      margin: 0px;
      background: #131313;
      color: white;
    }
    .lead {
      text-align: center;
    }
    p{
      text-align: center;
    }
  </style>

</head>

<body>

  {% include "school/others/navbar.html" %}
  <br><br>
  <div class="jumbotron">
    <h1 class="display-4">Your message sent successfully !</h1>
    <p class="lead">We will respond to your feedback soon</p>
    <hr class="my-4">
    <p>Check other features of website !</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/" role="button">HOME</a>
    </p>
  </div>
</body>

{% endblock %}
