{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Monalk Educational Complex</title>
<!-- CSS -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="icon" href="{% static '/images/mecky.png' %}">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
<!-- Default theme -->
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css"/>

</head>

<body>
  {% include "school/others/navbar.html" %}
  {%block content%}

  {%endblock content%}


  <!-- Javascript -->   
  <script type="text/javascript" src="{% static 'js/script.js' %}"></script> 
  <script type="text/javascript" src="{% static 'js/slide.js' %}"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>
  <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
  <script>
    {% for message in messages %}
      alertify.set('notifier','position', 'top-center');
      alertify.success('{{message}}');
    {% endfor %}  
  </script>
</body> 
</html>